@import url('https://fonts.googleapis.com/css?family=Oxygen');

.prayer-container {
    font-family: 'Oxygen', sans-serif;
    width: 300px;
    background-color: #ffdaee;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.472);
}

.content {
    padding: 0.8em;
}

.select-table {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    margin-bottom: 2em;
}

.form-control {
    max-width: 15em;
    margin-bottom: 2em;
}

.submit {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
}

.error {
    font-size: 0.7em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    color: #ff3333;
}